<div class="container">
  <h1 class="text-center">All Shelters</h1>
  <div class="row">
    <div class="col-4 m-1">
      <%= link_to "Sort by number of pets", "/shelters?sort=pet_count" %>
    </div>
    <div class="col-6 m-1 d-flex justify-content-end ms-auto">
      <%= form_with url: "/shelters", method: :get, local: true do |f| %>
        <%= f.label :search %>
        <%= f.text_field :search %>
        <%= f.submit "Search" %>
      <% end %>
    </div>

  <% @shelters.each do |shelter| %>
    <div id="shelter-<%= shelter.id %>" class="m-1 border p-2">
      <h3><%= shelter.name %></h3>
      <p>Created at: <%= shelter.created_at %></p>
      <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
      <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
    </div>
  <% end %>
</div>
