<div id="applicant_info">
  <h1><%= @application.name %></h1>
  <h3><%= @application.street_address %> </h3>
  <h3><%= @application.city %></h3>
  <h3><%= @application.state %></h3>
  <h3><%= @application.zip_code %></h3>
  <h3><%= @application.description %></h3>
  <h3><%= @application.status %></h3>
</div>


  <div id="add_pet">
    <h2> Add a Pet to this Application </h2>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true, html: { id: "search_pets_by_name" } do |f| %>
      <%= f.label :search_pets_by_name %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
    <% end %>

  </div>

