<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preload" href="<%= asset_path 'es-module-shims.min.js' %>" as="script">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body text-light mb-2" data-bs-theme="dark">
      <div class="container-fluid">
          <h3 class="m-1">ADS</h3>
          <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="/">Welcome</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/pets">Pets</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/shelters">Shelters</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/veterinarians">Veterinarians</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/veterinary_offices">Veterinary Offices</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/applications/new">Apply For Adoption!</a>
                  </li>
              </ul>
              <span class="navbar-text">
                <a class="nav-link" href="/admin/index">Admin</a>
              </span>
          </div>
      </div>
  </nav>
    <%= yield %>
  </body>
</html>
